body {
    background: #EFF4F8 !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ff9000;
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.zoomin img {
      height: 20vh;
      width: 20vh;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
      opacity:100%;
    }
    .zoomin img:hover {
      width: 22vh;
      height: 22vh;
      opacity:72%
  }
